name: Maven Build and Docker

on:
  push:
    branches:
      - feature
  workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted, Linux, X64]

steps:
  - name: Checkout a different branch
    uses: actions/checkout@v4
    with:
      ref: 'feature' # Specify the branch name here
steps:
  - name: Get latest code
    uses: actions/checkout@v4 # It's good practice to use the checkout action first
  - name: maven
    run: mvn install
    working-directory: my-app

steps:
      # ✅ Build Maven Project
      - name: Build Maven
        working-directory: my-app
        run: mvn clean package
 steps:
      # ✅ Build Docker Image
      - name: Build Docker Image
        run: docker build -t siva-app:latest ./my-app
steps:
      # ✅ Run Docker Container
      - name: Run Docker Container
        run: |
          docker rm -f siva-container || true
          docker run -d -p 8080:8080 --name siva-container siva-app:latest
          docker ps
